apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: job-db-pvc
  labels:
    app: {{ .Values.database.app }}
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: {{ .Values.database.storage }}
